# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Virtual Environment
.venv/

#Ignore .env setting
.env

# Ignore niceGUI cache file
.nicegui/

# Ignore MySQL Workbench files
*.mwb
*.mwb.bak

# Ignore demo sql data
demo-data.sql

# Ignore tailwind intellisence
tailwind.config.js